/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
 * This file is for SCSS rules that apply to "framework portlets," which are
 * portlets implemented in the uPortal webapp itself.  (Styles that apply
 * specifically to non-framework portlets should ideally be managed in their
 * respective projects.)  At a certain critical mass, these rules should
 * probably be broken into separate files.
 */

/* fragment-admin-exit */
#portalFragAdminExit {
  /* These colors are a bit drab, but safe
       given the current system in variables.scss */
  background-color: $footer-background-color;
  color: $footer-text-color;
  padding: 8px;

  h2 {
    font-variant: small-caps;
  }

  #exitFragment {
    margin-left: 12px;
  }
}

/* Permissions Admin */
.permission-owner {
  min-height: 10em;
}

/* Permissions by Category */
.permission-lookup {
  background: #eee;
  border: 1px solid $grayscale4;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;

  .punctuation {
    font-weight: bold;
    margin: 0 20px 0 5px;
  }

  .up-autocomplete-dropdown {
    background: $white;
    border: 1px solid $grayscale4;
    border-radius: 4px;
    width: 160px;
    box-shadow: 0 0 5px 0 $grayscale6;
    position: absolute;
    z-index: $zindex-dropdown;
    display: none;

    .alert {
      padding: 5px;
      margin-bottom: 0;
      border: none;
      border-radius: 4px 4px 0 0;
      display: none;
    }

    .up-autocomplete-matches {
      list-style: none;
      padding-left: 0;
      padding-top: 0;
      margin-bottom: 0;

      .up-autocomplete-match {
        border-bottom: 1px solid $gray-300;
        padding: 5px;

        &:hover {
          cursor: pointer;
          background: $gray-300;
          color: $black;
        }

        a {
          color: #222;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .up-autocomplete-close {
      padding: 5px;
      border-radius: 0 0 4px 4px;
      background: #ddd;

      &:hover {
        cursor: pointer;
        background: $gray-300;
        color: $black;
      }

      a {
        color: $grayscale6;
        font-size: 11px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .principal-input {
    > .up-autocomplete-dropdown {
      margin-left: 38px;
    }
  }
}

/* Favorites Portlet */
.favorites {
  .navbar {
    background: none;
    border: none;
    margin: 0;

    .navbar-collapse {
      padding: 0;
      max-height: 100%; // Else it will get cut off if the list grows enough

      .list-group {
        margin-bottom: 0;

        .fa-star {
          color: #ffd700; // Gold
        }

        .favorites-icon {
          margin-right: 2px;
          font-size: 2em;

          img {
            display: inline;
            height: 1em;
          }
        }
      }
    }
  }

  .up-favorite-info {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

/* Display only for desktop */
@media only screen and (min-width: 576px) {
  .favorites {
    /* Hide the navbar-brand text */
    .navbar-brand {
      display: none;
    }
  }
}

/* Display only for mobile */
@media only screen and (max-width: 767px) {
  .favorites {
    /* Show a border around the navbar */
    .navbar {
      border: 1px solid $grayscale2;
    }
  }
}

/* Login Portal */
.portal-login {
  .portal-login-inner {
    text-align: center;
    padding: 0;
    
    #portalCASLogin {
      .btn {
        margin: 0.25rem;
        
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

/* Search Portal */
.portal-search {
  padding: 0;
}

/* Attributes Swapper Buttons */
.buttons {
  .button.btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    font-size: 14px;
    color: rgb(105, 105, 105);
    background: rgb(239, 239, 239);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
  }
}

/* Primary Buttons */
.button.btn.btn-primary,
a.button.btn.btn-primary {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: rgb(51, 122, 183);
  border: 1px solid rgb(46, 109, 164);
  border-radius: 4px;
  text-decoration: none;
}

/* Emergency Alert Page Styling */
h2.title {
  font-size: 17.5px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.lead.bg-warning {
  background: rgb(252, 248, 227) !important;
  color: rgb(51, 51, 51);
  padding: 0;
  font-size: 21px;
  border-radius: 0;
  margin: 0 0 20px;
  
  strong {
    font-weight: 700;
  }
}

.btn.btn-primary.btn-lg {
  background: rgb(51, 122, 183);
  border: 1px solid rgb(46, 109, 164);
  padding: 10px 16px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border-radius: 6px;
}

/* Portlet Drag and Drop */
.layout-draggable-drop-target {
  background-color: #e6f3ff !important;
  border: 2px dashed #0066cc !important;
  border-radius: 4px;
  height: 80px !important;
  min-height: 80px !important;
  width: 100% !important;
  box-sizing: border-box;
  margin: 10px 0;
  text-align: center;
  color: #0066cc;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative !important;
  z-index: 9999 !important;
}

.layout-draggable-drop-target span {
  font-size: 14px;
  pointer-events: none;
}

.ui-draggable-dragging {
  z-index: 9999 !important;
}